{{#each this}}

<li class="menu__item">
  <article class="card">
    <img
      src={{this.image}}
      alt={{this.name}}
      class="card__image"
    />
    <div class="card__content">
      <h2 class="card__name">{{this.name}}</h2>
      <p class="card__price">
        <i class="material-icons">monetization_on</i>
        {{this.price}} кредитов
      </p>

      <p class="card__descr">
        {{this.description}}
      </p>

      <ul class="tag-list">
        {{#each this.ingredients}}
        <li class="tag-list__item">{{this}}</li>
        {{/each}}
      </ul>
    </div>

    <button class="card__button button">
      <i class="material-icons button__icon"> shopping_cart </i>
      В корзину
    </button>
  </article>
</li>

{{/each}}